@plugin "daisyui";
@import "tailwindcss";
/* tailwind.css or styles.css */
.input-style {
  @apply w-full mt-1 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white;
}
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&family=Playfair+Display:wght@500;600&display=swap');

body {
  font-family: 'Lora', serif;
  background-color: white;
  color: black;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

